* {
    margin: 0%;
}

#start-wrapper {
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#question {
    padding: 30px;
    font-size: 50px;
}

#button-wrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttonStart {
    background-color: blue;
    height: 10rem;
    width: 10rem;
    font-size: 30px;
    border-style: none;
}

.buttonStart:hover {
    color: red;
}