* {
    margin: 0%;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
/* This is the starter part */

#startWrapper {
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#question {
    padding: 30px;
    font-size: 50px;
}

#buttonWrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttonStart {
    background-color: blue;
    height: 10rem;
    width: 10rem;
    font-size: 30px;
    border-style: none;
}

.buttonStart:hover {
    color: red;
}

/* This is the Game Part */
/* This is the Score part */
#mainWrapper {  
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#score {
    background-color: blue;
    height: 100px;
    width: 100%;
    display: flex;
}

.scoreBar {
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

#playerScore {
    justify-content: left;
}

#botScore {
    justify-content: right;
}

.playerScoreBubble {
    margin: 5%;
    border: 1px solid lightblue;
    border-radius: 100%;
    height: 100px;
    width: 100px;

}

.playerWinBubble {
    background-color: lightblue;
}

.botScoreBubble {
    margin: 5%;
    border: 1px solid blue;
    border-radius: 100%;
    height: 100px;
    width: 100px;

}

.botWinBubble {
    background-color: blue;
}

/* This is the Choice View part */ 

#choiceWrapper {
    background-color: blueviolet;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.choiceImage {
    background-color: red;
    height: 80%;
    width: 40%;
    max-width: 400px;
}

/* This is the Player Choices Part */

#playerChoiceList {
    background-color: beige;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 50%;
    height: 100%;
    background-color: blue;
}

#player {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.choices {
    border-style: none;
    height: 80%;
    width: 30%;   
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white; 
}

#paper {
    background-image: url(Images/paper.png);
}

#rock {
    background-image: url(Images/rock.png);
}

#scissors {
    background-image: url(Images/scissors.png);
}

#empty {
    background-color: mediumslateblue;
}

.choices:hover {
    height: 85%;
    width: 35%;
}

#endScreen {
    margin: 10%;
    margin-top: 5%;
    z-index: 5;
    height: 80%;
    width: 80%;
    position: absolute;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#endBtn {
    background-color: black;
    height: 30%;
    width: 40%;
    font-size: 45px;
    border-style: none;
}

#endBtn:hover {
    color: yellow;
}

.hidden {
    visibility: hidden;
}

.playerSelection {
    border: 1px solid;
    border-color: red;
}